<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Text to Speech</title>
</head>
<body>
    
    <section class="container">

        <div class="comment-form">
            <h3>Comentário</h3>

            <form method="POST" action="/">
                <textarea name="comment"></textarea>
                <button type="submit">Cadastrar</button>
            </form>
            
        </div>

        <div class="comments-list">
            <h3>Comentários</h3>

            <div class="list">
                <div class="item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quisquam voluptates dolores debitis labore, ipsum animi adipisci possimus illum magnam veritatis autem fuga neque voluptate dicta ab consectetur delectus iusto?</p>
                    <button>Ouvir</button>
                </div>
            </div>
        </div>

    </section>

</body>
</html>