<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Text to Speech</title>
</head>
<body>
    
    <section class="container">

        <div class="left-panel">
            <h3>Comentário</h3>

            <form method="POST" id="commentForm" action="/">
                <textarea id="comment" name="comment"></textarea>
                <button type="submit">Cadastrar</button>
            </form>
            
        </div>

        <div class="right-panel">
            <h3>Comentários</h3>

            <div class="list">
                {% for comment in comments%}
                    <div class="item">
                        <p>{{ comment.comment }}</p>
                        <button>Ouvir</button>
                    </div>
                {% endfor %}
            </div>
        </div>

    </section>

    <script src="/scripts.js"></script>

</body>
</html>